/**** 全体 ****/

/**** スタートページ ****/
.description{
  height: 476px;
}
.description h1{
  font-family: 'Hiragino Kaku Gothic ProN';
  font-weight: 600;
  font-size: 43px;
  line-height: 1.46;
  letter-spacing: 0.08em;
  margin-top: 0;
  padding-top: 147px;
  color: white;
}
/* 背景波線 */
html, body {
  height: 100%;
}
#wrap {
  position: relative;
}
#svg-bg {
  position: absolute;
  width: 100%;
  /* height: 100%; →波線上下が合わない・足りないため削除 */
  top: 0;
  left: 0;
  z-index: -1;
}
#btn_start{
  background-color: #FCBF4C;
  color: #FFFAFA;
  font-size: 20px;
  margin-top: 128px;
  width: 180px;
  height: 36px;
  border-radius: 18px;
}

/**** 本棚 ****/
header{
  background-color: #FFBA00;
  color: #FFFAFA;
  border-radius: 0  0 25px 25px;
  box-shadow: 0 5 10 rgb(0, 0, 0,0.15);
  height: 120px;
}
header ul,header li{
  float: left;
}