/**** 全体 ****/
/* Google Material iconsを利用する */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* 推奨サイズ */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  /* WebKitブラウザサポート */
  -webkit-font-smoothing: antialiased;
  /* Chrome、Safariサポート */
  text-rendering: optimizeLegibility;
  /* Firefoxサポート */
  -moz-osx-font-smoothing: grayscale;
  /* IEサポート */
  font-feature-settings: 'liga';
}
/* アイコンサイズ */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
/* 背景が明るいとき用のアイコン色 */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
/* 背景が暗いとき用のアイコン色 */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
/*****************↑↑↑*********************/
h1{
  margin: 0;
}


/**** ヘッダー ****/
.main_header{
  background-color: #FFBA00;
  color: #FFFAFA;
  border-radius: 0 0 25px 25px;
  /* x方向 y方向 ぼかし 広がり 色 */
  box-shadow: 0px 5px 10px 0px rgb(0, 0, 0,0.15);
  height: 120px;
}
/* メニュー上側 */
.main_header .header_upper{
  display: flex;
  width: 100%;
  height: 61px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0 25px;
}
.main_header h1{
  font-size: 14px;
}
.main_header .header_upper .navi{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.main_header .notion{
  margin-right: 10px;
}
.main_header .notion img{
  height: 26px;
  width: auto;
}
/* メニュー下側 */
.main_header ul{
  width: 100%;
  height: auto;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_header li{
  float: left;
  /* width、px指定した方が見栄えはいいかも */
  width: auto;
  height: 43px;
  margin: 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Hiragino Kaku Gothic ProN';
  font-weight: 600;
}
.main_header ul li .header_home{
  width: 35.3px;
}
/* 下線を引く目印クラス */
.main_header ul li .tb_now{
  border-bottom: solid 3px rgba(255, 255, 255, 1);
}
/*** ヘッダーここまで ***/
/*** 本棚 ***/
/* 検索 */
.serch_wrap{
  margin-top: 27px;
  padding: 0 62px 0;
  display: flex;
  justify-content: center;
}
/* ↓優先順が変わるのでセレクタ変えない */
.serch_wrap input.serch_textbox{
  height: 27px;
  width: 227px;
  margin-right: 17px;
  box-sizing: border-box;
  border: 1px solid #FFBA00;
  border-radius: 2px;
}
button{
  height: 27px;
  width: 45px;
  background-color: #FFBA00;
  border: none;
  border-radius: 2px;
  /* x方向 y方向 ぼかし 広がり 色 */
  box-shadow: 0px 3px 6px 0px rgb(0, 0, 0,0.15);
}
button>img{
  width: 20px;
}
.sort_wrap{
  height: 20px;
  margin-top: 16px;
  padding: 0 62px 0;
  display: flex;
  justify-content: flex-end;
}
.sort_wrap p{
  font-size: 13px;
  line-height: 0;
}
/* 本 */
.books{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px,1fr));
  grid-gap: 4px 5px;
  padding: 31px 50px 31px;
}
.books .box{
  width: 100px;
  height: 146px;
  padding: 12px;
  background: #F5F5F5 0% 0% no-repeat padding-box;
  border-radius: 1px;
  opacity: 1;
}
.books .box img{
  width: 100%;
  height: 100%;
}
/*** 本棚ここまで ***/
/*** 本詳細ページ ***/
.book_image_functions{
  display: flex;
}
.book_image{
  width: 170px;
  height: 241px;
  margin: 27px 0 0 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.book_image img{
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}
.book_functions{
  margin: 27px 50px 0 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.book_functions .book_function_button{
  width: 122px;
  height: 39px;
  margin: 17px 0 0 0;
  background-color: #FCBF4C;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  opacity: 1;
  color: #FDFCFC;
  font-family: "Hiragino Kaku Gothic ProN";
  font-weight: 600;
}
.book_info{
  margin: 50px 57px 0 54px;
  display: flex;
}
.book_info th{
  width: 100px;
  color: #332F2F;
  font-size: 13px;
}
.book_info td{
  color: #332F2F;
  font-size: 14px;
}

/*** 本詳細ここまで ***/
/*** ログイン ***/
h2.login{
  margin: 72px 0 0 0px;
  text-align: center;
  font-family: serif;
  font-size: 20px;
  color: #312F31;
}
.login_buttons{
  margin: 70px 0 0 0px;
  font-size: 15px;
  text-align: center;
}
.login_facebook{
  width: 277px;
  height: 39px;
  color: #0039FF;
  background-color: white;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #0039FF;
  border-radius: 20px;
  opacity: 1;
}
.login_twitter{
  width: 277px;
  height: 39px;
  margin-top: 15px;
  color: #0DC2FF;
  background-color: white;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #0DC2FF;
  border-radius: 20px;
  opacity: 1;
}
.register{
  margin-top: 125px;
  display: flex;
  justify-content: center;
}
.register p{
  text-align: center;
  font-size: 14px;
  color: #312F31;
  width: 120px;
  border-bottom: 1px solid #707070;
}

/*** ログインここまで ***/