/**** 全体 ****/
/* Google Material iconsを利用する */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* 推奨サイズ */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  /* WebKitブラウザサポート */
  -webkit-font-smoothing: antialiased;
  /* Chrome、Safariサポート */
  text-rendering: optimizeLegibility;
  /* Firefoxサポート */
  -moz-osx-font-smoothing: grayscale;
  /* IEサポート */
  font-feature-settings: 'liga';
}
/* アイコンサイズ */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
/* 背景が明るいとき用のアイコン色 */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
/* 背景が暗いとき用のアイコン色 */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
/*****************↑↑↑*********************/
h1{
  margin: 0;
}

/**** スタートページ ****/
.description{
  height: 476px;
}
.description h1{
  font-family: 'Hiragino Kaku Gothic ProN';
  font-weight: 600;
  font-size: 43px;
  line-height: 1.46;
  letter-spacing: 0.08em;
  margin-top: 0;
  padding-top: 147px;
  color: white;
}
/* 背景波線 */
html, body {
  height: 100%;
}
#wrap {
  position: relative;
}
#svg-bg {
  position: absolute;
  width: 100%;
  /* height: 100%; →波線上下が合わない・足りないため削除 */
  top: 0;
  left: 0;
  z-index: -1;
}
#btn_start{
  background-color: #FCBF4C;
  color: #FFFAFA;
  font-size: 20px;
  margin-top: 128px;
  width: 180px;
  height: 36px;
  border-radius: 18px;
}
/****/

/**** 本棚 ****/
.main_header{
  background-color: #FFBA00;
  color: #FFFAFA;
  border-radius: 0 0 25px 25px;
  /* x方向 y方向 ぼかし 広がり 色 */
  box-shadow: 0px 5px 10px 0px rgb(0, 0, 0,0.15);
  height: 120px;
}
/* メニュー上側 */
.main_header .header_upper{
  display: flex;
  width: 100%;
  height: 61px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0 20px;
}
.main_header h1{
  font-size: 14px;
}
.main_header .header_upper .navi{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.main_header .notion{
  margin-right: 10px;
}
.main_header .notion img{
  height: 26px;
  width: auto;
}
/* メニュー下側 */
.main_header ul{
  width: 100%;
  height: auto;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_header li{
  float: left;
  width: 55px;
  height: 43px;
  margin: 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Hiragino Kaku Gothic ProN';
  font-weight: 600;
}
.main_header ul li .header_home{
  width: 35.3px;
}
/* 下線を引く目印クラス */
.main_header ul li .tb_now{
  border-bottom: solid 3px rgba(255, 255, 255, 1);
}